<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img src="assets/icono.png" alt="Logo de MiEmpresa">
      <img src="assets/letras1.png" alt="Texto del Logo">
      <p>Somos los mejores en nuestro campo</p>
    </div>

    <nav class="footer-links">
      <a href="#">Inicio</a>
      <a href="#">Servicios</a>
      <a href="#">Proyectos</a>
      <a href="#">Contacto</a>
    </nav>

    <div class="footer-copy">
      <p>© {{ year }} Excedentes industriales. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
